@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');


html body{
   /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(232, 232, 232);*/
    font-family: 'Mitr', sans-serif;
}


.container-review{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.img-profile{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin-left: 5px;
}

.card-container{
    width: 80%;
    height: auto;
    background-color:#022E51;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.re-main{
    width: 100%;
    background-color: #fff;
    padding: 5px;  
    border-radius: 5px;
}

.card-head{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

.bg-class1{
    background-color: #022E51;
    padding: 25px;
    border: 5px;
    color:#fff;
    margin: 10px;
}

main{
    border-bottom: solid 5px #022E51;
}